[submodule "dep/docopt"]
	path = dep/docopt
	url = https://github.com/docopt/docopt.cpp.git
[submodule "dep/loris"]
	path = dep/loris
	url = ssh://git@github.com/ngwese/loris.git
[submodule "dep/json"]
	path = dep/json
	url = https://github.com/nlohmann/json.git
